.mainLayout {
    width: 100%;
    height: 100%;
    /* background-color: palegreen; */
    display: flex;
    /* position: relative; */
    overflow-y: hidden;
    max-height: 100vh;
    flex-direction: column;
}


.lowerContent {
    display: flex;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: 10px;
    scrollbar-color: var(--text) transparent;
}

.lowerContent::-webkit-scrollbar {
    width: 6px;
}

.lowerContent::-webkit-scrollbar-track {
    background: transparent;
}

.lowerContent::-webkit-scrollbar-thumb {
    background: var(--text);
    opacity: 0.4;
    border-radius: 999px;
}

.lowerContent::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}


.sideNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    /* background-color: #dcfce8; */
    padding: 20px;
}

@media (max-width: 768px) {
    .sideNav {
        display: none;
    }
}

.mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: auto;
    flex-direction: column;
    position: relative;

}


.contentWrapper {
    max-width: 1300px;
    width: 100%;
    height: fit-content;
    /* background-color: rgb(170, 13, 39); */
}